<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ungdunguel.appphapluat">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:name="com.ungdunguel.appphapluat.sys.YUELApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_chinh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_chinh_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ungdunguel.appphapluat.ui.LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">
                </action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="com.ungdunguel.appphapluat.ui.MainActivity">

        </activity>

        <activity android:name="com.ungdunguel.appphapluat.ui.UpdateProgressActivity"></activity>

        <activity android:name="com.ungdunguel.appphapluat.ui.MainActivityRecyler">

        </activity>
    </application>

</manifest>
